@use "sass:math";

@function rem ($px) {
  @return math.div($px, 16) * 1rem;
}

$primary: #4A66FA;

.full { width: 100%; }
.flex {
  flex-flow: row wrap;
  display: flex;
  gap: rem(5);
  .flex-1 { flex: 1 1 auto; }
}

.form {
  counter-reset: number;
  &__header {
    text-align: center;
    margin-bottom: 1em;
  }
  &__title {
    font-size: rem(21);
    margin-bottom: .05em;
  }
  &__subtitle {
    font-size: rem(12);
    color: #999;
  }
}

.field {
  counter-increment: number;;
  text-align: left;
  margin: 1rem 0;
  &__title {
    &::before { content: counter(number) '. '; }
    font-size: rem(14);
    margin-bottom: .35em;
  }
}

.input {
  $input: &;
  $border: #d6d7dc;
  $radius: 4px;
  &__text {
    border: 1px solid $border;
    background-color: white;
    width: 100%;
    border-radius: $radius;
    line-height: 1;
    font-size: rem(13);
    padding: rem(13) rem(11);
    -webkit-appearance: none;
    &:focus {
      outline: none;
      border-color: $primary; }
  }
  &__checkbox {
    cursor: pointer;
    padding: .5em 0;
    #{$input}__view {
      margin-left: rem(8);
    }
    #{$input}__el {
      &:checked + #{$input}__view {
        color: $primary;
        border-color: $primary;
        & * { color: $primary }
      }
    }
  }
}

button {
  &--full { width: 100%; }
  &--primary { 
    border: none;
    height: rem(45);
    line-height: rem(45);
    border-radius: rem(23);
    cursor: pointer;
    background-color: #4860fe;
    color: white;
  }
}

.policy {
  font-size: rem(12);
  color: #999;
  .hl { color: #333; font-style: normal; font-weight: bold; }
}
